.freelance {
    padding: 100px 0 100px 0;
    background-color: #22222b; 
    min-height: 362px;
    text-align: center;
    &__subtitle {
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
    }
    &__title {
        color: #ffffff;
        font-size: 48px;
        font-weight: 400;
        margin-top: 22px;
    }
    &__btn { 
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 170px;
        height: 45px;
        background-color: #ffffff;
        color: black;
        margin-top: 37px;
        transition: 0.2s all;
        &:hover {
            background-color: gray; 
            color: black; 
        }
    }
}